# Auto detect text files and perform LF normalization
* text=auto
*.php linguist-detectable=true  
*.java linguist-detectable=true  
*.js linguist-detectable=true  
*.html linguist-detectable=true  
*.xml linguist-detectable=false 